data/lunar_crater_database_robbins_2018.csv filter=lfs diff=lfs merge=lfs -text
data/crater_index_db1.csv filter=lfs diff=lfs merge=lfs -text
data/triads_data1.pkl filter=lfs diff=lfs merge=lfs -text
